{% extends "base.html" %}
{% block main %}

<div class="row justify-content-start">
    <div class="main col-9 p-3 mx-auto justify-content-center">
        <h1>{{ authors.first_name}} {{ authors.last_name }}</h1><hr>
        <div class="d-flex-row">
            <h3 class="d-inline-block col-1">ID:</h3>
            <h3 class="d-inline-block col-1 mb-4">{{ authors.id }}</h3>
        </div>
        <div class="d-flex-row">
            <h3 class="d-inline-block align-text-top">Notas:</h3>
            <p class="lead d-inline-block col-9 align-text-top ms-4 p-1">
            {{ authors.note }}
            </p>
        </div>
        <div class="d-flex-row">
            <h3>Libros:</h3>
            <ul>
                {% for book in books %}
                <li>{{ book.title }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="d-flex-row">
            <form class="row row-cols-lg-auto g-3 align-items-center" action="/author/book_to_author/{{ authors.id }}" method="post">
            {% csrf_token %}
                <div class="col-8">
                    <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                    <select class="form-select col-12" id="inlineFormSelectPref" name="select_book_to_author">
                        <option value="-1">*Seleccione un libro*</option>
                        {% for list in add_book%}
                        {% if list in books %}
                        {% else %}
                            <option value="{{ list.id }}">{{ list.title }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-1">
                <button type="submit" class="btn btn-primary">Agregar</button>
                </div>

            </form>
        </div>

    </div>
</div>

{% endblock %}